<!-- <p>login works!</p> -->




<div class="container transparent" style="position: relative; margin-top: 12%;">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary"> 
        <div class="panel-heading">
            <h1>hjkas</h1>
        </div>
        <div class="panel-body">
            <h2>hsjkdhkds</h2>
        </div>
        <h1>hello</h1>
    </div>
    </div>
</div>





<!-- <style>

    .panel-footer {
        background-color: white;
    }

    .huge {
        font-size: 30px;
    }

    .transparent {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: 0.9;
    }

    .logo-img {
        width: 150px;
        height: 60px;
        margin: 0 auto 0px;
        display: block;
    }

    input[type="checkbox"] {
        margin: 0px;
    }

</style> -->

<!-- <div class="container transparent" style="position: relative; margin-top: 12%;" ng-hide="isAuthenticated()" >

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
            </div>

            <div class="panel-body">
                <div ng-show="buildProfile == 'nx'">
                    <img class="logo-img" src="assets/images/nx/logo.jpg" alt="logo"/>
                </div>
                <div ng-hide="buildProfile == 'nx'">
                    <img class="logo-img" src="assets/images/logo.jpg" alt="logo"/>
                </div>
                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="authenticationError"
                     >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Authentication failed!</strong> Please check your credentials and try again.
                </div>
                <br/><br/>
                <form >

                    <div class="input-group" style="margin-bottom: 25px;">
                        <span class="input-group-addon"><i class="fa fa-user fa-lg" style="color: #337ab7"></i></span>
                        <input id="username" type="text" class="form-control" value=""
                               placeholder="{{'global.form.username.placeholder' }}"
                               ng-model="username">
                    </div>

                    <div class="input-group" style="margin-bottom: 25px;">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" style="color: #337ab7"></i></span>
                        <input id="password" type="password" class="form-control"
                               placeholder="{{'login.form.password.placeholder' }}"
                               ng-model="password">
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="rememberMe" ng-model="rememberMe" class="k-checkbox">
                        <label class="k-checkbox-label" for="rememberMe" translate="login.form.rememberme">Remember Me</label>
                    </div>

                    <div class="form-group">
                        <div class="pull-right">
                            <button type="button" ui-sref="requestReset" class="k-button btn-border"
                                    translate="login.password.forgot">FORGOT PASSWORD
                            </button>
                            <button ng-disabled="progress" type="submit" class="k-button k-primary btn-border" translate="login.form.button">
                                <span ng-hide="progress">LOGIN</span>
                                <span ng-show="progress">Please wait...</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <em>Powered by GhangorCloud</em>
            </div>
        </div>
    </div>
</div> -->
