<!-- <p>forgot-password works!</p> -->



<div class="container transparent" style="position: relative; margin-top: 12%;">
    <div class="col-md-5 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'Company_Name' | translate}}
            </div>
            <div class="panel-body">
                <div class="logoImage">
                    <img class="logo-img" src="assets/images/18.jpg" alt="logo-img">
                </div>
                <br><br>
                <form [formGroup]="form">
                    <div class="input-group" style="margin-bottom: 25px;">
                        <span class="input-group-addon" style="width: auto;"><i class="fa fa-user fa-lg" style="color: #337ab7"></i></span>
                        <input id="email" type="email" class="form-control" value=""
                               placeholder="{{'email_placeholder' | translate}}"
                               ng-model="email">
                    </div>
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" class="k-button k-primary btn-border " translate="{{'reset_password'| translate}}">                    
                            </button>
                        </div>
                    </div>


                </form>
            </div>
            <div class="panel-footer">
                <em>Hello</em>
            </div>
        </div>
    </div>
</div>