/* html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

.col-md-12 {
    padding: 0px;
}

.col-md-6 {
  margin-left: -15px;
}

.container {
  width: 70vh;
  margin-left: -13px
}

.container1 {
  width: 65vh;
}

.container2 {
  width: 60vh;
} */

::ng-deep .col-md-9 {
    padding: 0 !important;
  }

  ::ng-deep .col-md-3 {
    padding: 0 !important;
  }
